* {
  border: 0;
}

body{
  background-color: 193141;
  font: normal 16px Arial, Helvetica, sans-serif;
  padding-top: 60px;
  color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
}

.indexbody{
  margin-left: 25%;
  margin-right: 25%;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 60px;
  }

  .indexbody {
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.dropdown-item{
  background-color: #303030;
  color: white;
}
	
.dropdown-divider{
  border-color: black;
  color: black;
}

.dropdown-menu{
  background-color: #303030;
}

textarea {
  resize: none;
}

.script-body {
  padding: 5%;
}

.pfp {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  max-width: 300px;
}

.name {
  margin-top: 1%;
  font: normal, 20px, Lucida Console, Helvetica, sans-serif;
  text-align: center;
}

.title {
  font: normal, 16px, Lucida Console, Helvetica, sans-serif;
  color: 366a8d;
}

.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
}

.intro {
  text-align: justify;
}

.progress {
  margin: 5%;
  height: 25px;
  font: normal 16px Arial, Helvetica, sans-serif;
}

.java-progress-bar {
  background-color: orangered;
  width: 80%;
}

.c-progress-bar {
  background-color: gray;
  width: 65%;
}

.python-progress-bar {
  background-color: 34709f;
  width: 80%;
}

.matlab-progress-bar {
  background-color: fbae0e;
  width: 70%;
}